Repository mui/mui-public, pull requests merged in 2024-12, with the labels that each got.

#253 [tools] Link to the right npm page
  tools-public/toolpad/pages/npmVersion/page.yml
Labels: bug 🐛, scope: tools

#254 [tools] Improve the about export
  tools-public/toolpad/pages/muicomabout/page.yml
  tools-public/toolpad/resources/queryAbout.ts
Labels: bug 🐛, scope: tools

#255 [infra] Issue title cleanup script and keywords improvement
  .github/workflows/issues_body-cleanup.yml
  .github/workflows/scripts/issues/bodyCleanup.js
  .github/workflows/scripts/issues/titleCleanup.js
Labels: enhancement, scope: infra

#256 [infra] Adds early return to issue title cleanup
  .github/workflows/scripts/issues/titleCleanup.js
Labels: scope: infra

#228 [tools] Add Toolpad to repo we check missing labels against
  tools-public/toolpad/pages/issuesWithoutLabels/page.yml
Labels: scope: tools
