Repository mui/mui-public, pull requests merged in 2025-09, with the labels that each got.

#622 [support-infra] Un-enterprise the CSAT flow
  .github/workflows/scripts/issues/addClosingMessage.js
Labels: type: enhancement, scope: support-infra

#612 [infra] Add `default` condition to the built package.json
  packages/code-infra/src/cli/cmdBuild.mjs
Labels: scope: code-infra

#627 [tools] Add support for acting role
  apps/tools-public/toolpad/pages/muicomabout/page.yml
  apps/tools-public/toolpad/resources/queryAbout.ts
Labels: type: enhancement, scope: tools

#611 [code-infra] Update bundle-size-checker
  .circleci/config.yml
  apps/code-infra-dashboard/README.md
  apps/code-infra-dashboard/netlify.toml
  apps/code-infra-dashboard/package.json
  apps/code-infra-dashboard/src/pages/SizeComparison.tsx
  dangerfile.js
  package.json
  packages/bundle-size-checker/src/builder.js
  packages/bundle-size-checker/src/cli.js
  packages/bundle-size-checker/src/configLoader.js
  packages/bundle-size-checker/src/github.js
  packages/bundle-size-checker/src/index.js
  packages/bundle-size-checker/src/notifyPr.js
  packages/bundle-size-checker/src/renderMarkdownReport.js
  packages/bundle-size-checker/src/renderMarkdownReport.test.js
  packages/bundle-size-checker/src/sizeDiff.js
  packages/bundle-size-checker/src/types.d.ts
  packages/bundle-size-checker/src/worker.js
  pnpm-lock.yaml
  scripts/dangerfileContent.ts
  test/bundle-size/bundle-size-checker.config.mjs
Labels: scope: code-infra

#632 [code-infra] Improve ci workflow trigger
  .github/workflows/ci.yml
Labels: scope: code-infra

#630 [support-infra] Fix the formatting of closed issue message
  .github/workflows/scripts/issues/addClosingMessage.js
Labels: type: regression, scope: support-infra

#636 [infra] Migrate markdownlint config to code-infra
  packages/code-infra/package.json
  packages/code-infra/src/markdownlint/duplicate-h1.mjs
  packages/code-infra/src/markdownlint/git-diff.mjs
  packages/code-infra/src/markdownlint/index.mjs
  packages/code-infra/src/markdownlint/straight-quotes.mjs
  packages/code-infra/src/markdownlint/table-alignment.mjs
  packages/code-infra/src/markdownlint/terminal-language.mjs
  pnpm-lock.yaml
Labels: scope: code-infra

#583 [code-infra] Create dev dependencies group
  renovate/base.json
  renovate/default.json
Labels: scope: code-infra

#641 [code-infra] Add cli to extract error codes independent of build
  packages/babel-plugin-minify-errors/index.js
  packages/code-infra/package.json
  packages/code-infra/src/cli/babel.mjs
  packages/code-infra/src/cli/cmdCopyFiles.mjs
  packages/code-infra/src/cli/cmdExtractErrorCodes.mjs
  packages/code-infra/src/cli/cmdJsonLint.mjs
  packages/code-infra/src/cli/index.mjs
  packages/code-infra/src/untyped-plugins.d.ts
  packages/code-infra/src/utils/build.mjs
  packages/code-infra/src/utils/extractErrorCodes.mjs
  pnpm-lock.yaml
Labels: scope: code-infra, performance

#671 [code-infra] Make sure `useIsoLayoutEffect` is tested by `react-hooks/exhaustive-deps`
  packages/code-infra/src/eslint/material-ui/config.mjs
Labels: scope: code-infra

#645 [code-infra] Try to disable node-version updates in github actions
  renovate/default.json
Labels: dependencies, scope: code-infra

#640 [code-infra] Don't rely on api.env for babel config
  packages/code-infra/src/babel-config.mjs
Labels: scope: code-infra

#670 [code-infra] Disable automerge for GitHub Actions
  renovate/default.json
Labels: scope: code-infra, security

#710 [code-infra] Cleanup unused packages
  apps/code-infra-dashboard/package.json
  apps/tools-public/package.json
  package.json
  packages/babel-plugin-resolve-imports/package.json
  packages/docs-infra/package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#711 [code-infra] Widen vite group
  renovate/default.json
Labels: scope: code-infra

#708 [code-infra] Widen node grouping in renovate
  renovate/default.json
Labels: scope: code-infra

#714 [code-infra] Prevent PRs until released longer than 3 days
  renovate/default.json
Labels: scope: code-infra

#716 [code-infra] Increase build command type-safety
  packages/code-infra/package.json
  packages/code-infra/src/cli/cmdBuild.mjs
  packages/code-infra/src/cli/packageJson.d.ts
  pnpm-lock.yaml
Labels: scope: code-infra

#719 [code-infra] Generalize `stylelint`
  package.json
  packages/code-infra/package.json
  packages/code-infra/src/stylelint/index.mjs
  packages/code-infra/src/untyped-plugins.d.ts
  pnpm-lock.yaml
  stylelint.config.mjs
Labels: scope: code-infra

#718 [code-infra] Package diff tool tweaks
  apps/code-infra-dashboard/src/App.tsx
  apps/code-infra-dashboard/src/components/FileDiff.tsx
  apps/code-infra-dashboard/src/components/PRList.tsx
  apps/code-infra-dashboard/src/hooks/useFileFilter.ts
  apps/code-infra-dashboard/src/pages/DiffPackage.tsx
  apps/code-infra-dashboard/src/pages/RepositoryCharts.tsx
  apps/code-infra-dashboard/src/pages/RepositoryLayout.tsx
  apps/code-infra-dashboard/src/pages/RepositoryPR.tsx
  apps/code-infra-dashboard/src/pages/RepositoryPRs.tsx
  packages/bundle-size-checker/src/cli.js
  packages/bundle-size-checker/src/constants.js
  packages/bundle-size-checker/src/renderMarkdownReport.js
Labels: scope: code-infra

#761 [code-infra] Add retry loop around continuous releases
  .github/actions/ci-publish/action.yml
  .github/workflows/ci-base.yml
Labels: scope: code-infra
