Repository mui/mui-public, pull requests merged in 2025-04, with the labels that each got.

#301 [infra] Added new exit path
  .github/workflows/scripts/issues/statusLabelHandler.js
Labels: enhancement, scope: infra

#303 [core] Enhance debugging and author validation in status label handler
  .github/workflows/scripts/issues/statusLabelHandler.js
Labels: bug 🐛, scope: infra

#305 [tools-public] Fix team priorization
  tools-public/toolpad/resources/queryAbout.ts
Labels: bug 🐛, scope: tools

#304 [code-infra] Update bundle size dashboard
  apps/code-infra-dashboard/.env.example
  apps/code-infra-dashboard/README.md
  apps/code-infra-dashboard/functions/circle-ci-artifacts.ts
  apps/code-infra-dashboard/index.html
  apps/code-infra-dashboard/netlify.toml
  apps/code-infra-dashboard/package.json
  apps/code-infra-dashboard/public/_redirects
  apps/code-infra-dashboard/public/favicon.ico
  apps/code-infra-dashboard/public/logo192.png
  apps/code-infra-dashboard/public/logo512.png
  apps/code-infra-dashboard/public/manifest.json
  apps/code-infra-dashboard/public/robots.txt
  apps/code-infra-dashboard/src/App.tsx
  apps/code-infra-dashboard/src/components/ErrorBoundary.tsx
  apps/code-infra-dashboard/src/components/GitHubPRReference.tsx
  apps/code-infra-dashboard/src/components/Heading.tsx
  apps/code-infra-dashboard/src/components/SizeChangeDisplay.tsx
  apps/code-infra-dashboard/src/index.css
  apps/code-infra-dashboard/src/index.tsx
  apps/code-infra-dashboard/src/pages/Landing.tsx
  apps/code-infra-dashboard/src/pages/SizeComparison.tsx
  apps/code-infra-dashboard/src/react-app-env.d.ts
  apps/code-infra-dashboard/src/utils/sizeDiff.ts
  apps/code-infra-dashboard/tsconfig.json
  apps/code-infra-dashboard/vite.config.mjs
  contributor-dashboard-legacy/functions/circle-ci-artifacts.js
  contributor-dashboard-legacy/functions/test-profile-artifact.js
  contributor-dashboard-legacy/functions/test-profile-details.js
  contributor-dashboard-legacy/package.json
  contributor-dashboard-legacy/pnpm-lock.yaml
  contributor-dashboard-legacy/public/index.html
  contributor-dashboard-legacy/src/App.js
  contributor-dashboard-legacy/src/components/ErrorBoundary.js
  contributor-dashboard-legacy/src/components/ForkRibbon.js
  contributor-dashboard-legacy/src/components/Heading.js
  contributor-dashboard-legacy/src/components/Webpagetests.js
  contributor-dashboard-legacy/src/index.js
  contributor-dashboard-legacy/src/pages/Landing.js
  contributor-dashboard-legacy/src/pages/SizeComparison.tsx
  contributor-dashboard-legacy/src/pages/TestProfileAnalysis.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: scope: code-infra, performance

#307 [code-infra] Don't use non-json primitives to encode new/removed bundles
  apps/code-infra-dashboard/src/components/SizeChangeDisplay.tsx
  apps/code-infra-dashboard/src/utils/sizeDiff.ts
Labels: scope: code-infra

#313 [tools] Add healthCheckPath
  render.yaml
Labels: enhancement, scope: tools

#314 [tools] Show % in versions
  tools-public/toolpad/pages/npmVersion/page.yml
Labels: enhancement, scope: tools
