Repository mui/mui-public, pull requests merged in 2025-10, with the labels that each got.

#768 [docs-infra] Check for requestIdleCallback
  packages/docs-infra/src/CodeHighlighter/CodeHighlighterClient.tsx
Labels: scope: docs-infra

#764 Fix File Navigation Bug with slugs and url hash
  packages/docs-infra/src/pipeline/parseSource/addLineGutters.ts
  packages/docs-infra/src/useCode/useCode.ts
  packages/docs-infra/src/useCode/useCodeSubHooks.test.ts
  packages/docs-infra/src/useCode/useFileNavigation.test.ts
  packages/docs-infra/src/useCode/useFileNavigation.tsx
  packages/docs-infra/src/useCode/useVariantSelection.test.ts
  packages/docs-infra/src/useCode/useVariantSelection.ts
  packages/docs-infra/src/useCode/user.spec.ts
Labels: type: bug, scope: docs-infra

#772 [code-infra] Always create annotated release tag
  packages/code-infra/src/cli/cmdPublish.mjs
  pnpm-lock.yaml
Labels: scope: code-infra

#773 [code-infra] Fix bundles nested file paths
  packages/bundle-size-checker/src/builder.js
  packages/bundle-size-checker/src/cli.js
  packages/bundle-size-checker/src/strings.js
  packages/bundle-size-checker/src/worker.js
Labels: type: bug, scope: code-infra

#775 [code-infra] Support setting a dist tag for publishing packages
  .github/workflows/publish.yml
  CHANGELOG.md
  package.json
  packages/code-infra/src/cli/cmdPublish.mjs
  packages/code-infra/src/cli/cmdPublishCanary.mjs
  packages/code-infra/src/cli/pnpm.mjs
Labels: scope: code-infra

#771 [docs-infra] Update localStorage logic to prioritize URL hash over stored preferences
  packages/docs-infra/package.json
  packages/docs-infra/src/useCode/useCode.ts
  packages/docs-infra/src/useCode/useFileNavigation.tsx
  packages/docs-infra/src/useCode/useVariantSelection.test.ts
  packages/docs-infra/src/useCode/useVariantSelection.ts
  packages/docs-infra/src/useCode/user.spec.ts
Labels: type: bug, scope: docs-infra

#766 [code-infra] Pass through `ARGOS_THRESHOLD` variable
  packages/code-infra/src/cli/cmdArgosPush.mjs
Labels: scope: code-infra

#793 [code-infra] Check for new packages in publish cli
  packages/code-infra/README.md
  packages/code-infra/package.json
  packages/code-infra/src/cli/cmdPublish.mjs
  packages/code-infra/src/cli/cmdPublishNewPackage.mjs
  packages/code-infra/src/cli/index.mjs
  packages/code-infra/src/cli/pnpm.mjs
  pnpm-lock.yaml
Labels: scope: code-infra

#742 [code-infra] Add util to fetch changelog commits from github
  packages/code-infra/package.json
  packages/code-infra/src/cli/cmdBuild.mjs
  packages/code-infra/src/cli/cmdGithubAuth.mjs
  packages/code-infra/src/cli/cmdListWorkspaces.mjs
  packages/code-infra/src/cli/cmdPublish.mjs
  packages/code-infra/src/cli/cmdPublishCanary.mjs
  packages/code-infra/src/cli/cmdPublishNewPackage.mjs
  packages/code-infra/src/cli/cmdSetVersionOverrides.mjs
  packages/code-infra/src/cli/index.mjs
  packages/code-infra/src/stylelint/index.mjs
  packages/code-infra/src/utils/babel.mjs
  packages/code-infra/src/utils/changelog.mjs
  packages/code-infra/src/utils/credentials.mjs
  packages/code-infra/src/utils/extractErrorCodes.mjs
  packages/code-infra/src/utils/github.mjs
  packages/code-infra/src/utils/pnpm.mjs
  packages/code-infra/src/utils/typescript.mjs
  packages/code-infra/tsconfig.build.json
  packages/code-infra/tsconfig.json
  pnpm-lock.yaml
Labels: scope: code-infra
