Repository mui/mui-public, pull requests merged in 2025-08, with the labels that each got.

#433 Add version overrides script
  packages/code-infra/src/cli/cmdSetVersionOverrides.mjs
  packages/code-infra/src/cli/index.mjs
  packages/code-infra/src/cli/pnpm.mjs
Labels: scope: code-infra

#434 [infra] Dog-food renovate preset
  renovate.json
Labels: scope: code-infra

#436 [infra] use more generic --pkg instead of --react/--typescript
  packages/code-infra/src/cli/cmdSetVersionOverrides.mjs
  packages/code-infra/src/cli/pnpm.mjs
Labels: scope: code-infra

#440 [infra] Fix when version command returns array
  packages/code-infra/src/cli/cmdSetVersionOverrides.mjs
  packages/code-infra/src/cli/pnpm.mjs
Labels: scope: code-infra

#442 [infra] Authenticate bundle size checker GitHub API on GitHub Actions
  packages/bundle-size-checker/package.json
  packages/bundle-size-checker/src/github.js
  packages/code-infra/package.json
  pnpm-lock.yaml
  test/bundle-size/package.json
Labels: scope: code-infra

#444 [code-infra] Use vite output ti calculate sizes
  packages/bundle-size-checker/src/viteBuilder.js
  test/bundle-size/package.json
Labels: scope: code-infra

#438 [code-infra] Polish bundle-size-checker tables
  apps/code-infra-dashboard/src/pages/SizeComparison.tsx
  packages/bundle-size-checker/src/renderMarkdownReport.js
  packages/bundle-size-checker/src/renderMarkdownReport.test.js
Labels: enhancement, scope: code-infra

#491 [internal] Fix sanitizeS3TagString()
  packages/bundle-size-checker/src/uploadSnapshot.js
Labels: type: bug, internal, security

#490 [internal] Fix Netlify CLI
  apps/code-infra-dashboard/package.json
  pnpm-lock.yaml
Labels: type: bug, internal, security

#488 [code-infra] Remove Toolpad bundle size app
  apps/tools-public/package.json
  apps/tools-public/toolpad/pages/bundleSizes/page.yml
  apps/tools-public/toolpad/resources/bundleSizeQueries.ts
  pnpm-lock.yaml
Labels: type: enhancement, scope: code-infra

#486 [internal] Enforce GITHUB_TOKEN default read only permission
  .github/workflows/branch-monitor.yml
  .github/workflows/ci-base.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish.yml
Labels: internal, type: enhancement, security

#408 [code-infra] Migrate build command
  babel.config.js
  package.json
  packages/babel-plugin-display-name/src/index.js
  packages/babel-plugin-minify-errors/package.json
  packages/babel-plugin-resolve-imports/index.js
  packages/code-infra/bin/code-infra.mjs
  packages/code-infra/package.json
  packages/code-infra/src/babel-config.mjs
  packages/code-infra/src/cli/babel.mjs
  packages/code-infra/src/cli/cmdBuild.mjs
  packages/code-infra/src/cli/cmdCopyFiles.mjs
  packages/code-infra/src/cli/index.mjs
  packages/code-infra/src/cli/typescript.mjs
  packages/code-infra/src/untyped-plugins.d.ts
  packages/code-infra/src/utils/build.mjs
  packages/docs-infra/package.json
  packages/docs-infra/scripts/build.mjs
  packages/docs-infra/scripts/buildTypes.mts
  packages/docs-infra/scripts/copyFiles.mjs
  packages/docs-infra/scripts/copyFilesUtils.mjs
  packages/docs-infra/scripts/utils.mjs
  pnpm-lock.yaml
Labels: scope: code-infra

#499 [infra] use OIDC for publishing
  .github/workflows/publish-canary.yml
  .github/workflows/publish.yml
  packages/code-infra/src/cli/cmdPublish.mjs
  packages/code-infra/src/cli/cmdPublishCanary.mjs
  packages/code-infra/src/cli/pnpm.mjs
Labels: scope: code-infra

#443 [code-infra] Disallow typescript namespaces
  packages/code-infra/src/eslint/baseConfig.mjs
Labels: type: enhancement, scope: code-infra, typescript

#557 [code-infra] Error on unrecognized commands
  packages/code-infra/src/cli/index.mjs
Labels: scope: code-infra

#567 [code-infra] Fix error on `list-workspaces` command
  packages/code-infra/src/cli/cmdListWorkspaces.mjs
  packages/code-infra/src/cli/cmdPublish.mjs
  packages/code-infra/src/cli/cmdPublishCanary.mjs
  packages/code-infra/src/cli/pnpm.mjs
Labels: scope: code-infra

#556 [infra] Migrate away from using airbnb config
  .gitignore
  apps/tools-public/toolpad/resources/queryStoreDatabase.ts
  babel.config.js
  dangerfile.js
  eslint.config.mjs
  package.json
  packages/babel-plugin-display-name/src/index.js
  packages/babel-plugin-resolve-imports/index.js
  packages/code-infra/package.json
  packages/code-infra/src/eslint/airbnb/base.mjs
  packages/code-infra/src/eslint/airbnb/typescript.mjs
  packages/code-infra/src/eslint/baseConfig.mjs
  packages/code-infra/src/eslint/material-ui/config.mjs
  packages/code-infra/src/eslint/testConfig.mjs
  pnpm-lock.yaml
  update-netlify-ignore.mjs
Labels: scope: code-infra

#576 [code-infra] Clear build dir at start of code-infra build
  packages/bundle-size-checker/package.json
  packages/code-infra/package.json
  packages/code-infra/src/cli/babel.mjs
  packages/code-infra/src/cli/cmdBuild.mjs
  packages/code-infra/src/cli/typescript.mjs
  packages/code-infra/tsconfig.build.json
  packages/docs-infra/package.json
  packages/docs-infra/tsconfig.build.json
  packages/docs-infra/tsconfig.json
  pnpm-lock.yaml
Labels: scope: code-infra

#582 [code-infra] Fix bundle size for BarChartPro
  packages/bundle-size-checker/src/builder.js
  pnpm-lock.yaml
  test/bundle-size/bundle-size-checker.config.mjs
  test/bundle-size/package.json
Labels: scope: code-infra

#568 [code-infra] Fix publish
  .github/actions/publish-prepare/action.yml
  .github/workflows/publish-packages.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish.yml
Labels: scope: code-infra

#552 [code-infra] Make engine version requirement strict
  .circleci/config.yml
  .github/workflows/ci-base.yml
  .github/workflows/ci.yml
  apps/code-infra-dashboard/netlify.toml
  package.json
  pnpm-workspace.yaml
  update-netlify-ignore.mjs
Labels: type: enhancement, scope: code-infra

#508 [support-infra] Ignore duplicate for the type label
  .github/workflows/scripts/prs/checkTypeLabel.js
Labels: type: enhancement, scope: support-infra

#585 [code-infra] Throw if private: false is set
  packages/code-infra/src/cli/cmdBuild.mjs
Labels: type: enhancement, scope: code-infra

#614 [support-infra] Update status labels GitHub Actions
  .github/workflows/issue-status-label-handler.yml
  .github/workflows/no-response.yml
Labels: type: enhancement, scope: support-infra

#617 [tools] Fix Node.js version
  render.yaml
Labels: type: regression, scope: tools

#619 [internal] Fix action alert
  .github/workflows/publish.yml
Labels: internal, type: enhancement, security
